1/App/xml/validate/overdueItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="payment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cred_id" type="xs:unsignedInt" />
                <xs:element name="overdue">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minExclusive value="-1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="id" type="xs:integer" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>